ytd-ad-slot-renderer,
ytd-in-feed-ad-layout-renderer,
ytd-banner-promo-renderer,
ytd-statement-banner-renderer,
ytd-promoted-sparkles-web-renderer,
ytd-promoted-sparkles-text-search-renderer,
ytd-promoted-video-renderer,
ytd-display-ad-renderer,
ytd-compact-promoted-video-renderer,
ytd-action-companion-ad-renderer,
ytd-player-legacy-desktop-watch-ads-renderer,
ytd-search-pyv-renderer,
ytd-carousel-ad-renderer,
ytd-video-masthead-ad-v3-renderer,
ytd-primetime-promo-renderer,
ytd-brand-video-singleton-renderer,
ytd-brand-video-shelf-renderer,
ytd-merch-shelf-renderer,
ytd-engagement-panel-section-list-renderer[target-id="engagement-panel-ads"],
ytd-rich-item-renderer:has(ytd-ad-slot-renderer),
ytd-rich-section-renderer:has(ytd-statement-banner-renderer, ytd-brand-video-shelf-renderer, ytd-ad-slot-renderer),
ytd-reel-video-renderer:has(.ytd-ad-slot-renderer, ytd-ad-slot-renderer),
#player-ads,
#masthead-ad,
.ytp-ad-overlay-container,
.ytp-ad-module .ytp-ad-overlay-slot,
.ytp-suggested-action-badge,
ad-slot-renderer,
ytm-promoted-sparkles-web-renderer,
ytm-promoted-video-renderer,
ytm-companion-ad-renderer,
ytm-rich-item-renderer:has(ad-slot-renderer),
ytm-reel-item-renderer:has(ad-slot-renderer),
tp-yt-paper-dialog:has(ytd-enforcement-message-view-model) {
  display: none !important;
}
